{%extends 'basetemplate.html'%}
{% load static %}

{% block title %}
  <title> Home - Taskmaster </title>
{% endblock title %}

{% block content %}
<div class='container'>
  <div class='row mt-5'>
    <div class='col-lg-4'>
      <img src="{% static 'images/img1.jpg' %}" class="rounded "  width="360" height="250">
    </div>
    <div class='col-lg-4'>
      <img src="{% static 'images/img2.jpg' %}" class="rounded " width="360" height="250">

    </div>
    <div class='col-lg-4'>
      <img src="{% static 'images/img3.jpg' %}" class="rounded " width="360" height="250">

    </div>
  </div>

  <div class='row mt-5'>
    <div class='col-md-10 offset-md-1'>
      <center> <p class= "display-6 fw-bold "> Quick and Easy to Use, Anytime, Anywhere </p></center>
      <center> <p class= "h3 fw-bold"> Plan Your Day Better, Get Your Life Organized </p></center>
      <center> <p class= "h5 fw-bold mb-5"> <mark> TASKMASTER </mark> Lets You Keep Track of Task in One Place </p></center>

      {% if user.is_authenticated %}
      <center> <a class="nav-link" href="{%url 'todolist' %}"> <button type="button " class="shadow  rounded btn btn-primary btn-lg"> Let's Get Started  </button> </a> </center>

      {% else %}
      <center> <a class="nav-link" href="{%url 'register' %}"> <button type="button " class="shadow  rounded btn btn-primary btn-lg"> Let's Get Started  </button> </a> </center>
      {% endif %}
    </div>

  </div>

{% comment %} using jinja 2 method {% endcomment %}
</div>{% endblock content %}