{%extends 'basetemplate.html'%}

{% block title %}
  <title> Todolist - Taskmaster </title>
{% endblock title %}





{% block content %}

<div class='container'>
    <br>
{% if messages %}
{% for message in messages %}
<div class="col-lg-2"></div>
<div class="alert alert-info  alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="col-lg-2"></div>
{% endfor %}
{% endif %}

  <br>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      {% comment %} <input type="text" name="owner" class="form-control" id="exampleInputEmail1" placeholder = "enter task" value="{{user.username}}"> {% endcomment %}

    <input type="text" name="task" class="form-control" text-transform="capitalize" id="exampleInputEmail1" placeholder = "enter task">
    </div>
    <button type="submit" class="btn btn-primary">add task</button>
  </form>
  <br>
  <table class="table table-hover">
    <thead>
      <tr class="table-dark row">

        <th class="col-5 h5"> <center> Tasks </center></th> 
        <th class="col-3 h5"> <center> Done </center></th> 
        <th class="col-2  h5"> <center> Edit </center></th> 
        <th class="col-2 h5"> <center> Delete </center></th> 

      </tr>
    </thead>
    {% comment %} <tbody class="table-group-divider"> {% endcomment %}
  
  {% if tasks  %}    
    {% for obj in tasks %}
          
      {% if obj.done  %}
          <tr class="table-info row mt-1">

            <td class="col-5 h4 "><center> {{obj.task}} </center></td>
            <td class="col-3 h4   " > <center> task completed </center></td>
                  
            <td class="col-2 h4"><a href="{%url 'edit_task' obj.id %}"> <center> <button type="button" class="btn btn-success">edit</button> </center> </a></td>
            <td class="col-2 h4"><a href="{%url 'delete_task' obj.id %}"> <center>  <button type="button" class="btn btn-danger">delete</button> </center> </a></td>

        </tr>
       {% else %} 
          <tr class="row mt-2 table-secondary">
      
            <td class="col-5 h4"><center> {{obj.task}} </center></td>
            <td class="col-3 h4"> <center> task incompleted </center></td>
                  
            <td class="col-2 h4"><a href="{%url 'edit_task' obj.id %}"> <center> <button type="button" class="btn btn-success">edit</button> </center> </a></td>
            <td class="col-2 h4"><a href="{%url 'delete_task' obj.id %}"> <center>  <button type="button" class="btn btn-danger">delete</button> </center> </a></td>

        </tr>
      {% endif %}

    {% endfor %}
  {% endif %}
</tbody>
</table>



<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
   {% if tasks.has_previous %}
   <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
   <li class="page-item"><a class="page-link" href="?page={{tasks.previous_page_number}}">{{tasks.previous_page_number}}</a></li>
   {% endif %}
    <li class="page-item"><a class="page-link" href="?page={{ tasks.number}}">{{ tasks.number}}</a></li>
    {% if tasks.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{tasks.next_page_number}}">{{tasks.next_page_number}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{tasks.paginator.num_pages}}">>></a></li>
    {% endif %}
  

   
  </ul>
</nav>
{% comment %} using jinja 2 method {% endcomment %}
</div>{% endblock content %}