{%extends 'basetemplate.html'%}

{% block title %}
  <title> ragister - Taskmaster </title>
{% endblock title %}

{% load crispy_forms_tags %}




{% block content %}

<br>
<center> 

  <div class="container ">

    {% if messages %}
      {% for message in messages %}
      <div class="col-lg-2"></div>
      <div class="alert alert-info  alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="col-lg-2"></div>
      {% endfor %}
      {% endif %}

      <form method="POST" class="mt-4 col-lg-6  border border-success p-4  shadow p-3 mb-5 bg-body rounded" >

        <center> <p class="h5"> Registration Form </p> </center>

        {% csrf_token %}

        {{Register|crispy}}
<br>
      <center>  <button class="btn btn-success btn-md mt-3 " type="submit"> Ragister </button> </center>

      <center> <p class="display-7 mt-2"> Already Registered.. <a href="{% url 'login' %}"> Login Here </a> </p> </center>

      </form>
  </div>
</center>
{% endblock content %}